a:hover,
a:focus {
  color: #005580;
  text-decoration: underline;
}

body {
  font-family: "Gilroy ExtraBold", system-ui, sans-serif;
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-font-kerning: normal;
  -webkit-text-size-adjust: 100%;
}
html, body {
  width: 100vw;
  height: 100vh;
}
body {
  background: linear-gradient(45deg, #02001f, #1f1b4e);
  transform-style: preserve-3d;
  transform: perspective(60rem);
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}

body, html { 
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.logo{
  position: relative;
  right: -5%;
}

#header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.flex-column {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
}

#playing-background {
  width: 100vw;
  height: 100vh;
  display: none;
  z-index: -5;
  position: fixed;
  top: 0;
  left: 0; 
}

#pizza-background {
  width:100vw;
  height:100vh;
  z-index: -2;
  position: absolute;
  left: 0px;
  top: 0px;
}

#gameCanvas { 
  display: none;
  z-index: 2;
}

#login {
  display: none;
}

#signup {
  display: none;
}

#overlay {
  display: none;
}

#restart {
  cursor: pointer;
}

#game-controls {
  display: none;
  flex-direction: column;
  height: fit-content;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 3%;
  bottom: 5%;
}

#timer-container {
  display: flex;
  justify-content: center;
  font-family: 'Oswald', sans-serif;
  color: #CCC;
  text-shadow: 1px 1px 5px black;
  z-index: 5;
  font-size:1.5vw;
  line-height: 2vw;
}

#timer {
  width:4vw;
}

#pause-x-button {
  display: none;
  width: 4vw;
  right: 1vw;
  top: 1vw;
  position: fixed;
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
  z-index: 15;
  outline: none;
  background: none;
  border:none;
}

#text,
    #shadow {
        position: absolute;
        margin: 0;
        top: 60%;
        left: 60%;
        transform: translate(-50%, -50%);
        font-size: 2em;
        font-weight: bolder;
        letter-spacing: 20px;
        /* font-family: "Segoe Script"; */
        color: #fdbd95;
    }

    #text {
        color: #333
    }

    #shadow {
        text-shadow: 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;
    }

   #glow {
        animation: neon1 linear infinite 2s;
        will-change: opacity;
    }

    #blink {
        animation: blink linear infinite 2s;
    }


    @keyframes neon1 {
        20% {
            opacity: 1;
        }
        80% {
            opacity: 0.6;
        }
    }


    @keyframes blink {
        70% {
            opacity: 1;
        }
        79% {
            opacity: 0;
        }
        81% {
            opacity: 1;
        }
        82% {
            opacity: 0;
        }
        83% {
            opacity: 1;
        }
        92% {
            opacity: 0;
        }
        92.5% {
            opacity: 1;
        }
    }

    /* pause state start over button */
    #pause-restart-container{
      display: none;
    }

    .restart-pause{
      position: fixed;
      top: 95%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    
    #restart-link{
      display: block;
      font-size: 2vw;
      font-family: sans-serif;
      /* text-decoration: none; */
      color: #70c8a0;
      border-top: 0.2vw solid #70c8a0;
      border-bottom: 0.2vw solid #70c8a0;
      padding: 0.8vw;
      letter-spacing: 0.2vw;
      transition: all .25s;
    }
    
    #restart-link:hover{
      letter-spacing: 1.2vw;
      color: #70c8a0;
    }

  #pazza-footer{
    position: fixed;
    bottom: 0;
    margin:0;
    width: 100%;
    background-color: black;
    display: inline-flex;
    overflow: hidden;
    white-space: nowrap;
    z-index:99;
  }
   
.N-text{
  padding-top: 0.8vw;
  vertical-align: middle;
  font-size: 1.5vw;
  color: pink;
  margin: 0;
  width:100%;
  animation:marquee 10s linear infinite;
  display: inline-block;
  padding-right: 0.8vw;
}
.footer{
  height:auto;
  background-color:rgba(255, 69, 243, 0.838);
  padding: 1vw 2.5vw 0.8vw 2.5vw;
  font-size:1.5vw;
  color: white;
  z-index:9;
  display: block;
} 
.footer:after{
  content:'';
  top:0;
  transform:translateX(100%);
  width:100%;
  height:17.5vw;
  position: absolute;
  z-index:99;
  animation: slide 5s infinite;
  background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%);/* Chrome10+,Safari5.1+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#007db9e8',GradientType=1 ); /* IE6-9 */
}

  #footer-head:before{
    position: absolute;
    content: '';
    top:1.5vw;
    left: 0.8vw;
    display: inline-block;
    height: 1vw;
    width: 0.8vw;
    background: #fff;
    animation:at-blink .4s infinite;
  } 

  @keyframes at-blink{
    from{opacity:0}to{opacity:1}
  }
  
  @keyframes slide{
    0% {transform:translateX(-100%);} 100% {transform:translateX(100%);}
  }
  
  .t-link{
    color:inherit!important;
    list-style:none;}

  #github-link{
    font-size: 1.5vw;
    color: rgb(249, 148, 202);
    text-decoration:underline;
  }
