#health-bar {
    display: none;
    margin: auto;
    max-width: 100px;
    position: fixed;
    top: 12%;
    left: 3%;
}

#healthBarText {
    font-family: "Arial", sans;
    margin: 0;
    padding: 0;
    color: white;
    font-size: 3rem;
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
}